In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.linear_model import LinearRegression

In [17]:
from sklearn.metrics import accuracy_score,r2_score

df=pd.read_csv('car data (1).csv')

In [7]:
df.head()

   current_year  Year  Selling_Price  Present_Price  Kms_Driven
0             8  2014           3.35           5.59       27000
1             9  2013           4.75           9.54       43000
2             5  2017           7.25           9.85        6900
3            11  2011           2.85           4.15        5200
4             8  2014           4.60           6.87       42450

In [9]:
x=df.drop('Selling_Price',axis=1)

In [10]:
y=df['Selling_Price']

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=5)

In [12]:
linear=LinearRegression()

In [13]:
linear.fit(x_train,y_train)

LinearRegression()

In [14]:
y_pred=linear.predict(x_test)

In [16]:
y_pred

array([ 9.54134734,  9.61804646,  4.50167811,  4.45031343,  2.52146422,
        7.91317675,  7.9000184 ,  2.36051705, 15.3345569 ,  4.52684869,
        4.96239276,  6.83365013,  3.46119941,  2.50270491, -0.35517904,
        4.45896447, 10.02878881,  0.1138199 , 10.07150482,  1.82206809,
        8.11360527, 17.21491249, 19.23794663,  1.07683427,  1.72849556,
        5.03768547,  5.26148478,  7.25049936,  5.39246414,  6.23651442,
        4.35436113,  8.49926335,  4.88081251,  0.84143476,  1.63814665,
        5.22543681,  7.00634713,  5.43490004,  1.65229084,  2.80830406,
        2.94298647,  5.33999282, 14.45701196, -5.50614259,  2.20959672,
        5.00455799,  0.34868691,  6.77133604,  4.23854959,  4.85986099,
        4.26789517, 15.02896552, -0.08520878,  2.46376464,  1.25883957,
       -0.17924221,  2.25412318,  1.8580459 , -1.52168248,  2.39236878,
        1.38425013])

In [18]:
accuracy=r2_score(y_test,y_pred)
accuracy

0.8622981872777435

In [19]:
import pickle

In [20]:
file=open('linear.pkl','wb')
pickle.dump(linear,file)
file.close()